
.tarifs-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}    
/* Base styling */
.tarif {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    width: 25%;
    border: solid black;
    color:black;
}

.tarif h2 {
    margin-top: 0;
    color: #333;
}

.tarif .price {
    font-weight: bold;
    color: #333;
}

.tarif ul {
    list-style-type: none;
    padding: 0;
}

.tarif ul li {
    margin: 10px 0;
}

.tarif-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Color coding for packages */
.tarif:before {
    content: '';
    display: block;
    height: 20px;
    width: 60px;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: -20px;
    left: 20px;
}

/* Silver Package */
.silver:before {
    background-color: #C0C0C0;
}

.silver h2 {
    color: #C0C0C0;
}

/* Gold Package */
.gold:before {
    background-color: #FFD700;
}

.gold h2 {
    color: #FFD700;
}

/* Platinum Package */
.platinum:before {
    background-color: #E5E4E2;
}

.platinum h2 {
    color: #E5E4E2;
}

.tarif-button-selected {
    background-color: #28a745; /* Une couleur différente pour indiquer la sélection */
    color: white;
}



/* Styles CSS pour la modale */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.selectable {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.selectable.selected {
    border-color: blue; /* Changer la couleur de la bordure au clic */
}
