.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
    text-align: center; /* Centrer le texte à l'intérieur des éléments */
}